/* css styles */

.navbar .nav-link:hover {
    color: darkblue !important;
}

.navbar .nav-link {
    font-size: 1.25 rem; 
}

.navbar .nav-link.active {
    color: darkblue !important; 
    font-weight: bold;    
}
