/* css styles */

.navbar .nav-link:hover {
    color: blue !important;
}

.navbar .nav-link {
    font-size: 1.25rem; 
}

.navbar .nav-link.active {
    color: white !important; 
    font-weight: bold;    
}
